[2018-03-09 14:56] krzychu2 opened #1 "how connect to mongodb?"
Hello,

how change connection string to mongodb?

[2018-03-14 12:44] matteofabbri commented on #1
The connection to mongo is handled by another package Mongolino.
Just set the connection string as shown here:

https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/Examples/SampleWebSite/appsettings.json

Or here:

https://github.com/matteofabbri/Mongolino/issues/4

[2018-03-26 22:20] matteofabbri commented on #1
@krzychu2 Updated the library to use the same approach of the "standard one"

            services.AddMongoIdentityProvider<ApplicationUser, ApplicationRole>("mongodb://localhost/maddalena", options =>
             {
                 options.Password.RequiredLength = 6;
                 options.Password.RequireLowercase = false;
                 options.Password.RequireUppercase = false;

[2018-03-26 22:20] #1 closed

[2018-04-25 11:12] Maciejszuchta opened #2 "Users are stored in default Database"
Hello, I'm successfully using your package but unfortunately, all registered users are stored in a separate database. All my data is stored in DataBase "A" while when registering new users they are put in "default" database.

![image](https://user-images.githubusercontent.com/12434636/39242379-2076488c-488a-11e8-9080-43e924f1e0c1.png)

How can i solve this ?

My Mongo configuration in Startup.cs l

[2018-04-25 11:39] Maciejszuchta commented on #2
Ok doing it like this solved the issue:

var connectionString = Configuration.GetSection("MongoConnection:ConnectionString").Value;
            var database = Configuration.GetSection("MongoConnection:Database").Value;
            services.AddMongoIdentityProvider<ApplicationUser, MongoIdentityRole>(connectionString + "/" + database,
                options =>
                {

});

[2018-04-25 11:39] #2 closed

[2018-10-11 15:21] matteofabbri opened #3 "Old Mongo maybe ignore List"

[2018-11-08 18:39] tugkan84 opened #7 "Email '' is invalid."
Hello
`var user = new ApplicationUser { UserName = Input.Email, Email = Input.Email };`
`var result = await _userManager.CreateAsync(user, Input.Password);`
  always return "Email '' is invalid." error.
if i use `opt.User.RequireUniqueEmail = false;` its passes but i want to use unique emails.
What i am missing to do?

Thanks

[2018-11-08 18:57] 7Kronos commented on #7
@tugkan84 Strange it works well for me. Have you checked the email format ?

[2018-11-08 19:02] tugkan84 commented on #7
hi @7Kronos. mail is deneme@tmail.com

[2018-11-08 19:48] matteofabbri commented on #7
That's weird. And by the way the store does not perform any check on the validity of the mail,
Have you checked inside Mongo if the mail is stored correctly ?

[2018-11-08 19:54] matteofabbri commented on #7
ps: i just tested your email on my website (which obviously runs on my identity system) and runs smooth as silk.
I hope you don't mind, i will delete the fake user asap (maybe the time to fix the issue)
![immagine](https://user-images.githubusercontent.com/130935/48223843-70b14500-e398-11e8-85db-1db2995b1fec.png)

[2018-11-08 19:56] tugkan84 commented on #7
@matteofabbri yes i checked from mongo and also i set NormalizeEmail too.
Username works perfect but Email not.I think only i face that problem so I will manualy control email before createAsync. By the way i can close the issue.

Thank you very much of your responses.

[2018-11-08 19:56] #7 closed

[2018-11-08 21:35] matteofabbri commented on #7
what you mean for "_also i set NormalizeEmail too."_ ?

[2018-11-09 05:34] tugkan84 commented on #7
I want to say I try to set NormalizedEmail field too while working on.

[2018-11-09 09:17] 7Kronos opened #8 "SetTokenAsync changes are not saved"
UserManager.SetAuthenticationTokenAsync() does not work.

I have been able to find the issue.

UserStore.SetTokenAsync() looks for another instance of user :

[code]

However UserManager calls UpdateUserAsync after SetTokenAsync

[code]

This triggers multiple overwriting saves of the original user instance (without tokens updates).

I'm about to submit a PR on this matter.

[2018-11-14 12:07] Maciejszuchta opened #10 "MongoIdentityOptions missing Passord configuration"
After updating to newest version I cannot use Password options in MongoDbProvider configuratioin

` services.AddIdentityMongoDbProvider<ApplicationUser>(options =>`
          ` {`
                `         options.ConnectionString = connectionString;`
                 `   options.Password.RequiredLength = 6;`
             `       options.Password.RequireLowercase = true;`
               `     opti

[2018-11-14 12:13] 7Kronos commented on #10
You have to specity Role type to switch to next override :

[code]

[2018-11-14 12:20] Maciejszuchta commented on #10
But Identity options are missing Password property in the newest version.
`public class MongoIdentityOptions{`

    public string ConnectionString { get; set; } = "mongodb://localhost/default";`

    public string UsersCollection { get; set; } = "Users";

    public string RolesCollection { get; set; } = "Roles";
  `}`

[2018-11-14 12:48] 7Kronos commented on #10
I'm not sure what you mean. This works fine with last aspnet core version (2.1.1).

You have to use this signature if you want to have access to both MongoIdentityOptions and IdentityOptions.

[code]

Try this :

[code]

[2018-11-14 12:53] Maciejszuchta commented on #10
![administratormodule - microsoft visual studio](https://user-images.githubusercontent.com/12434636/48483793-b0eb4a00-e814-11e8-9506-63db5be9ab75.jpg)

This is what i get when I use Password option.

[2018-11-14 13:01] 7Kronos commented on #10
@Maciejszuchta You have to specify both delegates to access identity options. Copy paste my code should work.

[2018-11-14 13:05] Maciejszuchta commented on #10
@7Kronos yes indeed it works :)

[2018-12-12 09:35] StephaneMartignier opened #12 "Using IdentityOptions.User.RequireUniqueEmail make register impossible"
Hi,

First thanks for the great work, I use your project as a base and I made some additions.

Yesterday I try to set the IdentityOptions.User.RequireUniqueEmail = true; and I noticed that I was making register impossible.

I've made some digging and I found the following "bug":
When you choose this option, the UserManager from Identity It call the method ValidateUserAsync and this one call Valida

[2018-12-27 15:29] akluthe opened #13 "Roles and Authorize Filter"
Role checks and Authorize filters don't seem to work with .NET Core 2.2 projects.

Related to this?
https://github.com/aspnet/Identity/issues/1813#issuecomment-394466269

I am going to try and solve it, but any help getting pointed in the right direction would be wonderful.

[2019-01-14 08:55] #3 closed

[2019-01-14 11:20] matteofabbri commented on #12
Thanks a lot, I'm testing it, if I can i will upload it this evening <3

[2019-01-14 11:23] matteofabbri commented on #13
Ehm, this is complicated, I'm trying to work on it.
Thanks a lot

[2019-01-24 17:00] #8 closed

[2019-01-24 17:00] #12 closed

[2019-01-24 17:01] matteofabbri commented on #7
Fixed in today package

[2019-01-24 17:01] matteofabbri commented on #10
Thanks a lot :)

[2019-01-24 17:01] #10 closed

[2019-02-04 20:35] matteofabbri commented on #13
@akluthe looks fixed now. Also latest package is updated to 2.2
Let me know :)

[2019-02-04 20:35] #13 closed

[2019-02-12 08:28] sbrosgol opened #15 "_id format backward compatibility"
In version 3.1.5 the _id (in user and role stores) format was like the following:
"_id" : ObjectId("5c5fea3a39580f24c8598b59"),

However, in version 5.0.0.12, the format was changed. This caused exceptions after a nuget package update.

[2019-02-20 18:18] rlavaud opened #16 "Should roles be referenced by ID"
Thanks for great library! I was wondering why roles not referenced by ID in Users? If I create a role let's say ADMNI (notice the typo) and I assign it to a bunch of users, then I realize that I made a mistake, changing the name to ADMIN wouldn't update the references correct?

In my App, i will used role and role permissions where you can assigned hard coded permissions to user defined roles. In

[2019-03-20 18:29] ygrinevich opened #17 "Can't find users in FindUsersByClaimAsync"
Hi,

seems a typo in method implementation
return await _users.WhereAsync(u => u.Claims.Any(c => c.ClaimType == claimType && c.**ClaimType** == claimValue));

Can't find a claim's releted users

[2019-03-20 19:10] matteofabbri commented on #17
Thanks a lot !

[2019-03-20 19:14] #17 closed

[2019-03-21 17:09] ygrinevich opened #18 "Can you set target framework for your library to netstandart2.0?"
Hi,

I'd like a reference your library from netstandard2.0 library. But I can't do it now because it targets netcoreapp2.2

[2019-03-21 17:20] malachib commented on #18
Just hit this myself.  +1

[2019-03-21 17:55] matteofabbri commented on #18
Not sure about that due to references of aspnet core base interfaces.
But i will check tomorrow morning and if is possible sure :)
Thanks a lot :)

[2019-03-21 19:58] malachib opened #19 "Return "IdentityBuilder" from "AddIdentityMongoDbProvider""
We're using custom token providers here, and in order to do so we need access to the IdentityBuilder.  Can we return `IdentityBuilder` instead of `IServiceCollection` from `AddIdentityMongoDbProvider` ?

It looks like one possibly can still do this by using `IdentityOptions.Tokens.ProviderMap` but it's a little bit clumsy in comparison

[2019-03-23 08:13] #19 closed

[2019-03-23 08:13] matteofabbri commented on #18
fixed by @malachib PR :)

[2019-03-23 08:13] #18 closed

[2019-04-07 12:26] oriolaakeem opened #21 "MultiTenancy Support?"
Can this library be extended for MultiTenancy? or used as described here https://www.scottbrady91.com/ASPNET-Identity/Quick-and-Easy-ASPNET-Identity-Multitenancy

[2019-04-09 21:20] rafaeldruiz opened #22 "Using beta MongoDb.Driver"
I'm receiving the below error when trying to update AspNetCore.Identity.Mongo nuget package:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1605	Detected package downgrade: MongoDB.Driver from 2.9.0-beta1 to 2.8.0. Reference the package directly from the project to select a different version.
 Infra.Data.MongoDb -> AspNetCore.Identity.Mongo 5.1.0.15 -> MongoDB.Driver (>= 2.

[2019-04-15 08:16] matteofabbri commented on #21
Yes

[2019-04-15 08:16] #21 closed

[2019-07-03 09:53] matteofabbri commented on #22
Fixed :)

[2019-07-03 09:53] #22 closed

[2019-07-06 17:54] matteofabbri commented on #15
Yes, sadly the only solution is to run a migration script.
But the new format will not change again in future

[2019-07-06 17:54] #15 closed

[2019-09-24 12:16] JorundMartinsen opened #23 "dotnet core 3.0 support"
Now that .net core 3.0 has been released, will it be supported by this package?

[2019-09-25 00:45] Coz1178 commented on #23
I tried it and was getting grief on the CreateAsync method, yet it was writing to the database.  Followed the stack trace back to UserStore.SetEmailAsync.  Changed

`await SetNormalizedEmailAsync(user, _normalizer.Normalize(user.Email), cancellationToken);`

to

`await SetNormalizedEmailAsync(user, _normalizer.NormalizeEmail(user.Email), cancellationToken);`

And all seems well... so far.  I'm hop

[2019-09-25 05:36] JorundMartinsen commented on #23
Which branch is this?

[2019-09-29 21:12] alidehghan opened #24 "Method not found: System.String Microsoft.AspNetCore.Identity.ILookupNormalizer.Normalize(System.String)"
After updating to core 3, the method **AspNetCore.Identity.Mongo.Stores.UserStore`2.SetEmailAsync(TUser user, String email, CancellationToken cancellationToken)** throws exception : **Method not found: System.String Microsoft.AspNetCore.Identity.ILookupNormalizer.Normalize(System.String)**

[2019-09-30 10:12] matteofabbri commented on #24
Yep, found the same problem after installing the package on a .net core 3 project.
Will start the fix today, together with the upgrade to 3.0.
Thanks

[2019-09-30 10:15] matteofabbri commented on #23
In theory yes, but I'm not sure on how, because upgraded to 3.0 it would be not more referenced by 2.2

@Coz1178 is this connected to #24 ?

[2019-09-30 10:43] #23 closed

[2019-09-30 10:44] JorundMartinsen commented on #23
This is covered in #24

[2019-09-30 13:40] #16 closed

[2019-09-30 13:42] matteofabbri commented on #23
@JorundMartinsen  @Coz1178

Fixed in latest commit https://github.com/matteofabbri/AspNetCore.Identity.Mongo/commit/fe20430be99363da580c10cc8c2f2074fcebcbd4

It require some testing than i will make the nuget :)
Tnx

[2019-09-30 13:42] matteofabbri commented on #24
@alidehghan

Fixed in latest commit https://github.com/matteofabbri/AspNetCore.Identity.Mongo/commit/fe20430be99363da580c10cc8c2f2074fcebcbd4

It require some testing than i will make the nuget :)
Tnx

[2019-09-30 13:42] #24 closed

[2019-09-30 17:33] alidehghan commented on #24
Many thanks for your nice job ... when do we expect it to be available on nuget?

[2019-10-02 03:09] dmradford opened #25 "Incompatible with dotnet core 2.2"
Attempting to upgrade from AspNetCore.Identity.Mongo version 5.2.1 to version 6.0.0, received the following error:

[code]

Upgrading the project to netcoreapp3.0 resolves the issue, however this is not possible for many people who rely on legacy packages that have not yet been updated to support dotnet core 3.0.

[2019-10-04 10:28] matteofabbri commented on #24
6.0.0 published 4 days ago

[2019-10-04 15:24] matteofabbri commented on #25
yep, i will do a package 5.something with all new fixed but with all references

[2019-10-04 15:42] Coz1178 commented on #13
Does this work with the latest version?  What is the configuration needed to make it work?  I haven't been able to get the [Authorize] attribute working in any form, even after I successfully sign in.

[2019-10-05 15:41] sergey-messer opened #26 "FindByEmailAsync always return null"
FindByEmailAsync always return null
The bug is in UserStore.cs:
[code]
Using ById(normalizedEmail) function is wrong

In preview version was:

[code]

[2019-10-22 14:07] stevensotelo commented on #25
Hi @matteofabbri

Thanks to build this package, actually I upgraded one website to .net core 2.2 and it is the only good packages that I could find.

I wanna know if you could solve this issue, because I have legacy system that I couldn't update and I think that a set of issues that I found, which have been solved in the new version.

Thanks.

[2019-10-29 09:32] matteofabbri commented on #26
Thanks a lot :) fixed in https://github.com/matteofabbri/AspNetCore.Identity.Mongo/pull/27

[2019-10-29 09:32] #26 closed

[2019-10-29 11:43] matteofabbri commented on #25
@stevensotelo  @dmradford fixed in https://www.nuget.org/packages/AspNetCore.Identity.Mongo/5.1.0.17

[2019-10-29 11:43] #25 closed

[2019-10-29 11:45] matteofabbri commented on #25
Core 2.2 will now live in branch https://github.com/matteofabbri/AspNetCore.Identity.Mongo/tree/CORE22

[2019-11-05 21:13] stevensotelo commented on #25
It is a little strange the version that you have in nuget. Which one is the latest and stable version?

![image](https://user-images.githubusercontent.com/4921829/68246590-1799e280-ffe7-11e9-8072-5973c6cd70a1.png)

[2019-11-08 13:54] programad opened #28 "Your website is not working"
Hi, man, I didn't know how to contact you so I am opening an issue here.

Your website is down!

I am planing to use your ASPNETCore.Identity.Mongo implementation and I want to make sure I can contact youto improve the packages based on the challenge I will face this month.

[2019-11-08 15:19] stevensotelo opened #29 "How does the authorization work?"
Hi @matteofabbri

Currently, I'm trying to implement the authorization (decorator) in my website, but it is not working in normal way. I have the following code in a controller:

// GET: /Controller/Index
[HttpGet]
[Authorize(Roles = "ADMIN")]
public async Task<IActionResult> Index()
{
     return View();
}

The user in the database has the role ADMIN:

![image](https://user-images.githubuserconte

[2019-11-13 09:29] matteofabbri commented on #25
@stevensotelo 6.1.1 is the latest for dotnet core 3.0, 5.1.0.17 is 2.2
I just realised i fucked up the numeration for the old version, thanks for the warning

[2019-11-13 09:30] matteofabbri commented on #28
@programad sure :)
the website is down on purpose because it was quite empty, you need some help ?

[2019-11-13 09:30] #28 closed

[2019-11-13 09:31] matteofabbri commented on #29
That really looks like an old version, which package are you using ?
Also: core 3 or 2.2 ?

[2019-11-13 11:25] programad commented on #28
Oh, ok.

I could use some help. maybe. I am trying to understand and adapt your
solution for identity mongodb to my opensource project. So far I could not
get it to run correctly but I am taking baby steps. I am just a little
afraid I will lose something since I am migrating from an official
Microsoft SQL with Entity Framework solution and I didn't notice the
Password option on the MongoIdentityOp

[2019-11-18 21:00] stevensotelo commented on #29
I'm using .net core 2.2 and package version 5.1.0.17

[2019-11-23 17:49] DamienDoumer opened #30 "Identity _userManager.IsInRoleAsync is always false"
Here is how I instantiate the user manager and the role manager:

[code]
Here is how I add a user to a role (it works well):

[code]

And after adding a user to a role then going to the database to test if this user exists, it works well. But, when I use this method to test if the user was assigned a specific role, I get a "FALSE" response all the time:

`var r = await _userManager.IsInRoleAsync(u

[2019-11-25 16:58] matteofabbri commented on #30
Yes, you found a bug. Fixed now in 6.1.3 will be available in minutes :)
Thanks

[2019-11-25 16:58] #30 closed

[2019-11-25 17:27] matteofabbri commented on #29
There was a bug, has been fixed.
5.3 with the fix will be available in minutes

[2019-11-25 17:34] #29 closed

[2019-11-26 19:24] DamienDoumer commented on #30
Awesome, thanks

[2019-11-28 20:19] DamienDoumer opened #31 "RemoveFromRoleAsync always returns UserNotInRole"
I tried testing the IsUser in role and RemoveFromRoleAsync methods.
But both do not work. I still have always false and a user not in role for each method.
Here is how I test it.

`

        private async Task Test()
        {
            string email = "jara@hera.com";
            string roleName = "TESTERAROLE";

            var u = await _userManager.FindByEmailAsync(email);
            var use

[2019-11-28 20:22] DamienDoumer commented on #31
Updating to version 6.1.3 and I had no problem anymore

[2019-11-28 20:22] #31 closed

[2020-01-22 20:15] sheyinn opened #32 "Accessing Role Manager as required service in seeder method"
I'm looking for a way to seed a default application user on startup with some default roles but can't access the role manager service to do this. I can't find any information on this in the readme. How can I achieve this?

[2020-01-22 20:39] #32 closed

[2020-01-25 13:27] chandrakantnaik789 opened #33 "How to set _id of type ObjectId"
How to set _id of type ObjectId

[2020-01-25 18:11] dmradford commented on #33
[code]

[2020-01-25 18:13] chandrakantnaik789 commented on #33
I actually want to set _Id of IdentityUser to ObjectId but i think its by default support guid in string format

[2020-01-25 18:15] chandrakantnaik789 commented on #33
I know it. But how to do it for IdentityUser

[2020-01-25 18:29] dmradford commented on #33
It looks like using objectId for ApplicationUser _id may not be easily doable. I just tried overriding the property and got this error:

Basically, as I understand it, since Microsoft.AspNetCore.Identity.IdentityUser doesnt use ObjectId and uses a guid instead, you can only use the auto generated guid.

This shouldn't be much of an issue though, since users are rarely looked up by id, but rather b

[2020-01-25 18:38] chandrakantnaik789 commented on #33
I already have existing database where I have users with _id as objectid and i want to migrate it to
AspNetCore.Identity.Mongo library and i also have many other table dependencies to _id column

[2020-01-25 18:59] dmradford commented on #33
Ah, that makes sense. It looks like you're going to have to extend and override the builtin properties and maybe some of the methods for Microsoft.AspNetCore.Identity.IdentityUser

This may be of use:
https://adrientorris.github.io/aspnet-core/identity/extend-user-model.html

[2020-01-29 19:27] 7Kronos opened #34 "UserManager.SetAuthenticationTokenAsync does not persist changes"
Updated the library from my last fork to the last nuget version and my failed tests show that UserManager.SetAuthenticationTokenAsync does not persist tokens in database anymore.

I used a temporary workaround mutating the tokens list and then calling UserManager.UpdateAsync whitch works fine.

Did not have the time to investigate this.

[2020-02-04 09:00] #33 closed

[2020-02-04 09:01] chandrakantnaik789 commented on #33
I use other library to resolve my issue

[2020-02-22 16:42] arashtavoosi opened #36 "userManager.RemoveFromRoleAsync succeeded but role did not removed"
I used userManager.RemoveFromRoleAsync(user,roleName) and the identityResult is Succeeded but the specified role did not removed form user.

[2020-02-24 09:16] matteofabbri commented on #36
Thanks, fixed now by updating Mongo libraries.
Check at SelfCheck/HomeController.cs line 139

[2020-02-24 09:16] #36 closed

[2020-02-24 10:38] matteofabbri commented on #34
thanks just fixed, publishing packet now.

[2020-02-24 10:38] #34 closed

[2020-03-01 20:02] abirstolov opened #37 "UserManager.GenerateEmailConfirmationTokenAsync does not persist token"
I'm using the following method:
`var token = await _userManager.GenerateEmailConfirmationTokenAsync(user);`
And it returns a token, but nothing is written to the user document, the Tokens array is empty.

The service setup:
[code]

[2020-03-15 12:43] vova3211 commented on #37
Hi @abirstolov , if go inside `AddIdentityMongoDbProvider` you can see that this lib doesn't implement/override TokenProvider's and just use default `AddDefaultTokenProviders` method:
`builder.AddRoleStore<RoleStore<TRole>>()
.AddUserStore<UserStore<TUser, TRole>>()
.AddUserManager<UserManager<TUser>>()
.AddRoleManager<RoleManager<TRole>>()
.AddDefaultTokenProviders();`

If we look at `GenerateEma

[2020-03-17 16:51] haseeb200 opened #38 "Role Claims Support using Identity framework with Mongo"
I wonder if one can tell me how to add role claims? because I am unable to find any implementation regarding this.

How shall I assign claim to specific role?

when ever I try to add claims for role I received following error

![image](https://user-images.githubusercontent.com/10439778/76880557-a4a84e80-6899-11ea-894e-430da34ceb53.png)

[2020-03-18 01:48] dmradford commented on #38
The way I have it configured is as follows:

In Startup.cs, use AddAuthorization to add the roles for auth:

[code]

On your controllers, use the Authorize annotation:

[code]

Then last but not least, create roles and add users to them. For testing you can (need to) have these as non-authorized routes but you'll have to lock this down before going live obviously:

[code]

[2020-03-18 04:33] haseeb200 commented on #38
that's all clear t me. My question is regarding adding Claims for role. If you follow the identity pattern they have Claims for user and then Claims for Role as well. SO i want to know how to use Role Claims rather than User Claims?

[2020-03-23 13:07] leandromendes-ifthen opened #40 "Use with Blazor?"
Hey! Is it possible to use this package with blazor? im quite new to asp.net/asp.net core stuff and i would like no know if it works with it. Its only needed to include  the wiki code ?

What about the class ApplicationUser and ApplicationRole where and what should i include on them. An example would be great , thanks!

[2020-03-24 08:23] matteofabbri commented on #40
Hi :) honestly i have no idea, i never used Blazor, but i will try and let you now :)

[2020-03-24 10:49] leandromendes-ifthen commented on #40
Thank you, from my research you are the only ative developer mantaining Identity for mongo. Keep up the good work. And please let me know what should the ApplicationUser and ApplicationRole should contain so i can test in my side.

[2020-03-26 06:57] BuzzDee3000 commented on #40
@leandromendes-ifthen
You can use this package in blazor the same way like in other asp.net core apps.
The base classes for users and roles are MongoUser and MogoRole. That can be used directly or you can create you own that inherits from them.

[2020-03-26 11:28] leandromendes-ifthen commented on #40
Im using the default classes directly MongoUser and MogoRole, but im unable to navigate to register and login page of the base identity on Blazor. I am doing something wrong or these need their own implementation?  i just want to reuse the existing ui but with mongo

[2020-03-26 19:50] BuzzDee3000 commented on #40
@leandromendes-ifthen
I have created a simple solution from the default blazor project template and replaced the sqlite provider with mongo.
https://github.com/BuzzDee3000/AspNetCoreBlazorWithMongoIdentitySample

The point is to check the dependency injection and replace all IdentityUser with MongoUser.
`UserManager<IdentityUser`
must replaced with
`UserManager<MongoUser>`

You have to do the same

[2020-03-27 13:42] leandromendes-ifthen commented on #40
@BuzzDee3000
Thank you so much ! Really kind of you! This is enough to keep me going and what i needed.
You should consider doing a "full port" on your own or add a full sample as contribution for this project.
Keep up the good work!

[2020-03-30 15:06] leandromendes-ifthen commented on #40
@BuzzDee3000 how can you scaffold the remaining files in blazor? should i select my _host.cshtml, since blazor doesnt use _layout.cshtml.  Everything i do to add the remaining classes results on exceptions or other view/ui of the project not related to identity to be messed up

[2020-04-02 03:52] fernandocerkal opened #41 "Save _id as "ObjectId" instead of "String""
Folks,
After migration from 3.1.5 (with .net core 2.1) to 6.3.5 (with .net core 3.1), the object has been saved as "String" instead of "ObjectId".

I tried without success override Id property, althought it saves two "Ids" in collection.

Startup:

[code]

ApplicationUser:
private string _id;

        [BsonRepresentation(BsonType.ObjectId)]
        public override string Id {
            get { ret

[2020-04-02 08:49] BuzzDee3000 commented on #40
@leandromendes-ifthen
Can you provide some code or exception messages?

[2020-04-03 20:25] vova3211 commented on #38
@matteofabbri I guess, `AspNetCore.Identity.Mongo.Stores.RoleStore<TRole>` should implement interface `IRoleClaimStore<TRole>`.
Same as it's now implementing interface `IQueryableRoleStore<TRole>`. Both interfaces inherited from `IRoleStore<TRole>` and used in `RoleManager<TRole>`
Also attaching link to source file of   [https://github.com/dotnet/aspnetcore/blob/master/src/Identity/Extensions.Core

[2020-04-04 10:59] vova3211 commented on #38
@haseeb200 Oh you already did it, sorry)
So this issue can be closed?

[2020-04-04 20:09] matteofabbri commented on #38
im gonna publish the package with the change now. thanks a lot for the PR

[2020-04-04 20:09] #38 closed

[2020-04-04 21:08] matteofabbri commented on #37
Does it have sense to add this in the library ? im undecided

[2020-04-05 09:09] vova3211 commented on #37
@matteofabbri What the point to override default token provider?
You can add your own implementation of `IUserTwoFactorTokenProvider<TUser>` through `AddTokenProvider()` at any moment.

[2020-04-05 19:50] #37 closed

[2020-04-06 18:37] vova3211 commented on #41
@fernandocerkal nuget package was recently updated and added support for ObjectId. Please update your version to 6.7.0

[2020-04-06 19:04] #41 closed

[2020-04-12 09:59] hakeemoriola opened #44 "Backward Compatibility"
Can you still maintain support for IdentityRole<string> and IdentityUser<string> in the MongoRole and MongoUser as this update broke my project.

[2020-04-12 11:18] vova3211 commented on #44
Hi @hakeemoriola , started from version 6.7.0 `MongoRole` and `MongoUser` use ObjectId type instead of string. It's necessary to increase db productivity (you can google advantages of using ObjectId vs string).

So you need to update your "Users" and "Roles" collections to use _id like ObjectId. Or use versions lower than 6.7.0 if you want keep it like string.

[2020-04-12 13:36] hakeemoriola commented on #44
"The property 'Id' of type 'OENT.Entities.ApplicationUser' cannot use element name '_id' because it is already being used by property 'Id' of type 'Microsoft.AspNetCore.Identity.IdentityUser`1[[MongoDB.Bson.ObjectId, MongoDB.Bson, Version=2.10.3.0, Culture=neutral, PublicKeyToken=null]]'."

[2020-04-12 13:49] vova3211 commented on #44
Can you provide implementation of `OENT.Entities.ApplicationUser`?

[2020-04-12 14:03] hakeemoriola commented on #44
[BsonIgnoreExtraElements]
    public class ApplicationUser : MongoUser, IEntityBase<string>
    {
        public bool Admin { get; set; }
        public string Application { get; set; }
        public string City { get; set; }
        public string CompanyId { get; set; }
        public string EnrolleeId { get; set; }
        public virtual Company Company { get; set; }
        public string Count

[2020-04-12 14:14] vova3211 commented on #44
`MongoUser` already has property "Id" with type ObjectId.
You can delete lines
[code]
And just use "Id" property where you needed. If you need string representation simple use `Id.ToString()`

[2020-04-12 14:40] hakeemoriola commented on #44
i have IEntityBase<string> interface that has Id of string implemented by all my entities
<img width="1311" alt="Screenshot 2020-04-12 at 15 39 01" src="https://user-images.githubusercontent.com/9089648/79071470-cc8da500-7cd3-11ea-9d05-cfbcfff0bbe7.png">

[2020-04-12 15:41] vova3211 commented on #44
As i said previously since version 6.7.0 you cann't use Id like string.
You should update your code to use Id like ObjectId or use lower versions of lib.

You can update your interface to handle Id like ObjectId, but it will broke a lot of your code. The easier solution is to create another interface to handle this specific classes (user and role)

[2020-04-13 08:56] hakeemoriola commented on #44
Thanks for your help and feedback

[2020-04-13 08:56] #44 closed

[2020-04-15 11:52] hakeemoriola opened #45 "IUserClaimsPrincipalFactory CreateAsync Throws error after upgrade"
Can you help resolve this

System.ArgumentNullException: Value cannot be null. (Parameter 'source')
   at System.Linq.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
   at System.Linq.Enumerable.Select[TSource,TResult](IEnumerable`1 source, Func`2 selector)
   at AspNetCore.Identity.Mongo.Stores.RoleStore`1.GetClaimsAsync(TRole role, CancellationToken cancellationToken)
   at Mi

[2020-04-15 12:15] vova3211 commented on #45
Hi @hakeemoriola!
In previous versions of library class `AspNetCore.Identity.Mongo.Stores.RoleStore<TRole>` wasn't implemented interface `Microsoft.AspNetCore.Identity.IRoleClaimStore<TRole>`. So new `TRole` entity has one more field - `List<IdentityRoleClaim<string>> Claims`.

I guess in db you have roles smth like:
[code]

You need to update your role collection like:
[code]

[2020-04-15 20:45] hakeemoriola commented on #45
Thanks @vova3211

[2020-04-15 20:45] #45 closed

[2020-04-18 09:37] alecrt opened #46 "Support for IdentityServer4.IdentityServerConstants.ClaimValueTypes.Json deserialization"
Dear Matteo,

is it possibile to support IdentityServer4.IdentityServerConstants.ClaimValueTypes.Json object deserialization?

For example we'd like to store address as complex object (or json) claim, like below:
`new Claim(JwtClaimTypes.Address, @"{ 'street_address': 'One Hacker Way', 'locality': 'Heidelberg', 'postal_code': 69118, 'country': 'Germany' }", IdentityServer4.IdentityServerConstants.

[2020-04-21 12:10] vova3211 commented on #46
Hi @alecrt!
What you trying to achieve? This lib is wrapper for ASP.NET Core Identity and doesn't responsible for any claim conversions etc.
As i understood correctly, you want use `JwtClaimTypes.Address` like object. According to official [docs](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim?view=netframework-4.8) Claim can contains only string value. If you want to use

[2020-04-23 08:29] Myrmex opened #48 "Role store via role manager throws when no claims (version 6.7.0)"
Hi,
first of all thanks for this great library. Unfortunately, I'm experiencing an issue after upgrading it to the latest version, and I think I have tracked the error up to its origin: it should be line 102 in RoleStore.cs (https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/AspNetCore.Identity.Mongo/Stores/RoleStore.cs). In my authentication code, claims are only optionally use

[2020-04-23 10:15] vova3211 commented on #48
Hi @Myrmex!
I guess you have the same issue as #45 .

In general role entity **has to** has claims. In previous versions was a bug with it. Not a bug, but this functionality was missed at all)
So this validation is unnecessary.

You should update your roles collection like described in #45

[2020-04-23 10:54] Myrmex commented on #48
Thanks, I derived my own `ApplicationRole` from `MongoRole` and instantiated the `Claims` collection its constructors. Once deleted and rebuilt, the database has now an empty array instead of null.

[2020-04-23 10:54] #48 closed

[2020-04-29 13:47] ganySA commented on #48
@Myrmex how do you 'instantiate' the Claims collections in the constructor...?

[2020-04-29 14:33] Myrmex commented on #48
Like this:

[code]

As a general thought, applying this instantiation in the base (`MongoRole`) would automatically remove the issue from those upgrading, as we would provide an empty collection, which gets serialized as `[]` rather than `null` in MongoDB. Anyway, I'm happy enough with this solution too.

[2020-04-29 14:42] vova3211 commented on #48
`MongoRole` already contains initializing of Claims property.
When you inherit your own realization don't forget to inherit constructors.
Like:
[code]

[2020-04-29 20:53] sayron5 opened #49 "v6.7.0 ObjectId Error"
Hi,

I noticed an issue with signing in once I upgraded from version 6.3.5 to 6.7.0.  There seems to be a ObjectID -> String conversion issue using the updated version.  I am running this test using a Blazor Server application so it may work in other project types:

An unhandled exception occurred while processing the request.
FormatException: 'dbf7a32a-3ca3-4525-a734-b82d61024e82' is not a valid

[2020-04-30 21:07] hakeemoriola opened #50 "MongoUser and MongoRole saved in separate database"
Why is ApplicationUser and ApplicationRole collections saved in 'default' database other than the conected database?

[2020-05-01 12:37] vova3211 commented on #49
HI @sayron5, since version 6.7.0 `Id` property use native mongodb type ObjectId. You need to migrate your db or use lower versions.

See related issues #41 #44

[2020-05-01 12:42] vova3211 commented on #50
Hi @hakeemoriola!
If you don't specify database name in connection string - by default using `default` db.
Can you share your connection string?

[2020-05-01 12:48] vova3211 commented on #40
@leandromendes-ifthen is your problem solved? This issue frozen almost month, so i closed it.
If you'll have any other questions you can ask and reopen issue.

[2020-05-01 12:48] #40 closed

[2020-05-06 21:32] dboschm opened #51 "FormatException when retrieving user by claims using UserManager"
Hi,
I'm getting an error retrieving the actual user Object inside controller method.
The code line retrieving the User is the following:
`var user = await userManager.GetUserAsync(HttpContext.User)`

My Application User derives from MongoUser:
`public class ApplicationUser: MongoUser { ... }`

The registration of Mongo Identity looks like this:
[code]
The occuring error looks like this:
[code]
See

[2020-05-07 02:28] sayron5 commented on #49
Ok, thanks!

[2020-05-07 02:28] #49 closed

[2020-05-07 07:06] vova3211 commented on #51
HI @dboschm!
As i can see from error message you have `_id` prop in db like email? Since version 6.7.0 library using native ObjectId mongodb type for `Id` property.

Possible duplicate #44 #49. Please check it.

[2020-05-07 07:10] vova3211 commented on #51
@matteofabbri We already have 3 or 4 issues with migration problem.I am going to create some migration guide to version 6.7.0. What you think about it?

[2020-05-07 14:52] dboschm commented on #51
@vova3211 I fixed the problem. It was an issue in the configuration of my jwt-claims. It seems that `JwtRegisteredClaimNames.Sub` claim corresponds to a `NameIdentifier` claim which is used by the UserManager to retrieve the User object. So I had two `NameIdentifier` claims the first one contained the email and the second one the actual ObjectId string. From my perspective, this issue can be close

[2020-05-07 14:52] #51 closed

[2020-05-10 08:15] shane-droid opened #52 "Simple Blazor Example"
Hi There!!
May I kindly ask for a simple Blazor Server example?

Thank you

[2020-05-13 05:50] vova3211 commented on #52
Hi @shane-droid!
Here is [example](https://github.com/BuzzDee3000/AspNetCoreBlazorWithMongoIdentitySample) provided by BuzzDee3000.

[2020-05-15 08:54] mjebrahimi opened #54 "Why two MongoUtil class with duplicate content ?!"
Why are there two [MongoUtil.cs](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/AspNetCore.Identity.Mongo/Mongo/MongoUtil.cs) , [MongoUtil.cs](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/AspNetCore.Identity.Mongo/MongoUtil.cs) classes with duplicate content?

[2020-05-18 06:09] matteofabbri commented on #50
@hakeemoriola if you look here you will see that database name is part of the connection string

mongodb://<SERVER ADDRESS>/<DATABASE NAME>

[2020-05-18 06:09] #50 closed

[2020-05-18 06:10] matteofabbri commented on #54
Right, fixed. Thanks

[2020-05-18 06:10] #54 closed

[2020-05-20 19:11] Coz1178 opened #56 "Handling Null Claims Properly"
With a clean project, I'm getting exceptions after registering a new logon and attempting to sign in.  I've tracked it down to this:

`public async Task<IList<Claim>> GetClaimsAsync(TRole role, CancellationToken cancellationToken = default)
        {
            if (role == null) throw new ArgumentNullException(nameof(role));

            cancellationToken.ThrowIfCancellationRequested();

[2020-05-21 04:05] matteofabbri commented on #56
Current version implement checks on null, which version are you running ?

[2020-05-30 05:00] zikalol opened #57 "Issue with FindByIdAsync"
to fetch user using _userManager.FindByIdAsync(string userid) it requires the id as string and the user id is ObjectId
getting this error `'UsersManagement' is not a valid 24 digit hex string.`

[2020-05-30 05:36] #57 closed

[2020-06-04 01:01] zikalol opened #58 "After updating my package getting this exception"
Exception :
![image](https://user-images.githubusercontent.com/52603066/83703326-21c8a180-a607-11ea-9f5f-d4669ec33871.png)
my request :
![image](https://user-images.githubusercontent.com/52603066/83703352-3442db00-a607-11ea-9da2-ed9e6aebc863.png)
Any help please ? or its a bug

[2020-06-04 01:13] zikalol commented on #58
it seems caused by mongoDB driver

[2020-06-04 01:21] Steinfeld91 commented on #58
on RoleId assignment it's saying the result of the Select is IEnumerable, not List. I think you just need to add .ToList() before the .FirstOrDefault()

[2020-06-04 01:25] zikalol commented on #58
Same issue, it used to work in 6.7.0

[2020-06-04 02:17] Steinfeld91 commented on #58
what is x's type?

[2020-06-04 02:21] Steinfeld91 commented on #58
i might have gotten where .ToList() goes wrong. Might be:
x.RolesClaims.ToList().Where( yada yada yada
RolesClaims I think is the collection causing the problem from how the exception reads

[2020-06-04 02:33] zikalol commented on #58
![image](https://user-images.githubusercontent.com/52603066/83708415-234c9680-a614-11ea-8367-5b12050a2243.png)
added .tolist() after the where() , it worked thank you. But didnt have this issue on 6.7.0. appreciated

[2020-06-04 02:34] #58 closed

[2020-06-11 13:51] Coz1178 commented on #56
The version I pulled from nuget is 6.7.1.  It is providing the below error:

`ArgumentNullException: Value cannot be null. (Parameter 'source')
System.Linq.ThrowHelper.ThrowArgumentNullException(ExceptionArgument argument)
System.Linq.Enumerable.Select<TSource, TResult>(IEnumerable<TSource> source, Func<TSource, TResult> selector)
AspNetCore.Identity.Mongo.Stores.RoleStore<TRole>.GetClaimsAsync(TR

[2020-06-12 09:37] vova3211 commented on #56
@Coz1178 did you do steps from [this migration guide](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/docs/MigrationGuideToVersion6_7_0AndUpper.md)?

[2020-06-14 18:56] #46 closed

[2020-06-14 18:56] #52 closed

[2020-06-18 11:28] alexanderbikk commented on #56
Hello guys @matteofabbri , @vova3211, @Coz1178
I've got the same issue when trying to call this method CreateUserPrincipalAsync(user). I did it in custom authorization when generating my token, so the user still not logged in at this stage and has no Claims and I just want to add Claims for him.
I believe this is the same problem that was mentioned above.

Btw I didn't have this issue in 6.3.5 ver

[2020-06-22 10:28] Uterr opened #60 "No way to do custom async operations on user store"
Hello! I am using AspNetCore.Identity.Mongo. I extended MongoUser class to add custom field to it (not a claim).

Now i need to make search by that field. I found solution:

`public static async Task<MongoUserExtended> FindByUid(this UserManager<MongoUserExtended> um, string uid) {
    return um?.Users?.FirstOrDefault(x => x.Uid == uid);
}`
But whis code is syncronous, and i need asyncronous searc

[2020-06-22 18:28] vova3211 commented on #60
Hi @Uterr !

To be honest your question was wonder me :) Let's explain what i've found.

So, i go deeply in the aspnetcore sources and found similar issue and related pull request:
https://github.com/dotnet/aspnetcore/issues/6331
https://github.com/dotnet/aspnetcore/pull/15248#issuecomment-545289306

In the referenced comment said that `IQueryable` can be used async. Then i investigated how to use

[2020-06-22 18:42] vova3211 commented on #60
i've noticed that you tried cast IMongoQueryable. Can you provide exception what you got?
i tested it and this solution works fine.

[2020-06-22 22:04] Uterr commented on #60
@vova3211 thank you for your reply.
Yes, i researched source code for user manager and mongo user sore:
https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/master/AspNetCore.Identity.Mongo/Stores/UserStore.cs
https://github.com/aspnet/Identity/blob/master/src/Core/UserManager.cs
and i was sure it should work this way:
`	public static async Task<MongoUserExtended> FindByUid(this UserMana

[2020-06-23 09:22] vova3211 commented on #60
I've tested it in different ways and result is the same. There are no problem to cast it directly or through extension
[code]
All of tests fine (t1-t4)
[code]

As i can see problem in `um?.Users`. Exception says that `um?.Users` has type `System.Linq.EnumerableQuery1[IdentityService.EventFlow.Commands.MongoUserExtended]`, but this shoud be `IQueryable<IdentityService.EventFlow.Commands.MongoUserEx

[2020-06-23 09:29] vova3211 commented on #60
Also problem can be in `IUserStore<TUser>` implementation. Would be good to saw it too if you use own store.
Any other additional info would be a plus.

[2020-06-23 10:53] Uterr commented on #60
@vova3211 thank you for helping.
I just realized, that we are using AspNetCore.Identity.Mongo version 3.1.5, and we should try first to update AspNetCore.Identity.Mongo to actual version.

As of UserManager, we don't use custom user manager, and simply adding mongodb support by calling
`services.AddIdentityMongoDbProvider<MongoUserExtended, MongoRole>(...)` so it should be default implementation.

[2020-06-25 13:56] Uterr commented on #60
@vova3211 i'we found why i cannot make this operation asynchronous in 3.1.5.
In 3.1.5 User property looks like this:
`public IQueryable<TUser> Users => _userCollection.GetAllAsync().Result.AsQueryable();`

and in 6.x:
`public IQueryable<TUser> Users => _userCollection.AsQueryable();`

And 3.1.5 code would not allow async operations, as it is evaluating users collection beforehand. And we need to u

[2020-06-25 13:58] Uterr opened #61 "Migration 3.1.5 -> 5 -> 6"
Hello!

To fix out previous issue: https://github.com/matteofabbri/AspNetCore.Identity.Mongo/issues/60 we need to update AspNetCore.Identity.Mongo to version 6+

There is instruction, how to migrate 5 -> 6, but there is no instruction how to migrate from 3.1.5 -> 5/6.
I'we fount out that collection structure changed severely:
Fields names changed, structure of collection of claims of user changed

[2020-06-25 15:29] vova3211 commented on #61
The best solution is to use the newest version.
As i can see we have different changes from version to version.

Also there was big changes with roles. Previously they stored in User entity like string (name). Now it's string too, but with id inside. Maybe some other (most likely).

I'll check all changes between 3.1.5 and 6.7.0 versions and create separate migration guide.

[2020-06-27 02:32] raime910 opened #62 "Question: ClientId and ClientSecret support"
Does this library support client id and client secret. I tried seeding my app with a client Id, registering a user but I get an error saying that the Client object does not have _id property on it.

[2020-06-27 13:20] vova3211 commented on #62
Hi @raime910 !

I'm not fully undestand what you mean by "Client". Can you explain a little bit more what you try to achieve?

This lib is implementation of MongoDB provider for the **ASP.NET Core Identity**. It's about authorization and management of users, passwords, profile data, roles, claims, tokens, email confirmation.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ide

[2020-06-27 20:49] vova3211 commented on #61
@Uterr I already created pull request for migration guide from version 3.1.5

But you can use it right now at [migration_doc_to_newer_version branch](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/blob/migration_doc_to_newer_version/docs/MigrationGuideFromVersion3_1_5ToVersion6_7_0AndUpper.md)

[2020-06-29 21:52] #61 closed

[2020-06-29 21:54] matteofabbri commented on #62
So as written by @vova3211 yes, if you mean oauth authentication tokens and secret, yes it support them

[2020-06-29 21:54] #62 closed

[2020-07-02 16:23] raime910 commented on #62
Just wondering why it's looking for _id when I try to create a Client. Is there a specific variation of IClientStore I need to implement?

[2020-07-02 18:45] vova3211 commented on #62
can you share example of code what you use?

[2020-07-02 18:54] secret-agent-B commented on #62
[code]

I have a seeding class that adds a Client object into the database which basically calls this method

[code]

[2020-07-02 19:36] vova3211 commented on #62
More questions:
1. What version of library you using? It's contains only `AddIdentityMongoDbProvider` to register and resolve all necessary "things" (providers, stores etc.).
I see some lines which looks not typically
[code]
and
[code]
it seems to be a different lib, but maybe i'm wrong and it's just older version.

2. What version of .Net Core  you using?
3. As i can see, you using `IdentityServe

[2020-07-05 03:59] PetkevichP opened #64 "userManager.AddToRoleAsync succeeded but role did not persist"
I used userManager.AddToRoleAsync (user,roleName) and the identityResult is Succeeded but the specified role did not persist.

Version info:
.net core 3.1
AspNetCore.Identity.Mongo 6.7.1

[2020-07-08 02:07] christopherpross opened #66 "mongouser no implizit conversion to identyuser"
Hey,
this is maybe a stupid question, but it is possible to provide a conversion from mongouser to identityuser? Because I have to create a dbcontext for an other library and I can only do that with the user class. IdentyDbcontext accepts only some class which implements tuser and so on.
Or do you have an idea how I could provide a dbcontext to the library?

all the best.

[2020-07-08 06:55] vova3211 commented on #64
Hi @PetkevichP!
Will test it today.

[2020-07-08 07:01] vova3211 commented on #66
Hi @christopherpross!
`MongoUser` inherited from `Microsoft.AspNetCore.Identity.IdentityUser<TKey>`, so yes you can cast it.

Can you explaine a little bit more about what you trying to do?

[2020-07-08 07:03] vova3211 commented on #60
For version 3.1.5 is not possible to do async operations on user store due to specific realization of `public IQueryable<TUser> Users`.

[2020-07-08 07:03] #60 closed

[2020-07-08 07:05] #56 closed

[2020-07-08 12:13] christopherpross commented on #66
Ok, some code, hopefuly it is more clear with that. :-)

With this code, i get the following error:

Error CS0311 The type "Website.Models.ApplicationUser" cannot be used as a type parameter "TUser" in the generic type or in the generic method "IdentityDbContext <TUser>". There is no implicit reference conversion from "Website.Models.ApplicationUser" to "Microsoft.AspNetCore.Identity.IdentityUser"

[2020-07-08 22:02] vova3211 commented on #64
@PetkevichP Everything working ok.
There is only 1 reason why it's "not working" - the role does not exist. If role not found in RoleStore by roleName then nothing happens.

Check that role exists.

[2020-07-08 22:12] vova3211 commented on #66
As i mentioned above `MongoUser` inherited from `Microsoft.AspNetCore.Identity.IdentityUser<TKey>`  where TKey is ObjectId.
`Microsoft.AspNetCore.Identity.IdentityUser` is inherited to from `Microsoft.AspNetCore.Identity.IdentityUser<TKey>` where TKey is string.
They both have the same parent, but `IdentityDbContext` requires specific realization of `Microsoft.AspNetCore.Identity.IdentityUser<TKey

[2020-07-09 21:31] eliwinkelman opened #67 "Migrate from 5.1.0.15 to 6.x"
I am migrating a project from AspNetCore.Identity.Mongo 5.1.0.15 to 6.x and IIdentityUserCollection has been removed in 6.x. What should I use instead?

[2020-07-11 01:08] PetkevichP commented on #64
Yes , You are right, thanks!

[2020-07-11 01:08] #64 closed

[2020-07-11 10:02] vova3211 commented on #67
You should use `UserManager<TUser>` and `RoleManager<TRole>` instead.
Library provide mongodb implementation for all necessary things inside `UserManager<TUser>` and `RoleManager<TRole>`, like a `UserStore`, `RoleStore` etc. So you don't need to use it explicitly by injecting stuff from lib.

[2020-07-13 13:03] chris40042 opened #68 "ConfirmEmail returns false"
Hi,

First of all, thanks for your project, it helps a lot. But i'm facing an issue, whenever i try to confirm email with token gave in the email, it happens to return "false" but the token seems to be the good one. Result in the below code returns me : "InvalidToken" so it's always false and i can't confirm mail.  How to solve it ?

[code]

[2020-07-14 14:05] a-a-k opened #69 "Using Identity.Mongo with IdentityServer4"
How to mix this two things? It actually is so complex and I can't figure this out for last couple days.

[2020-07-21 08:14] greyhord opened #71 "Using of different Id type"
Hi,

Is it possible to override ObjectId usage with Guid as a key?

[2020-07-23 15:51] lenwen commented on #68
Hello Chris
This issue has nothing to do whit this project.
I think the issue is encoding of the confirm string.
When you creating the confirm url. Can you add that code?
This is the code am using.

`
var code = await _userManager.GenerateEmailConfirmationTokenAsync(user).ConfigureAwait(true);
var link2 = Url.Page("/Account/Emailverification", null, new { userId = user.Id, code }, Request.Scheme);

[2020-07-26 06:23] Daviidbit commented on #71
It would be a great help !!

[2020-07-26 08:41] #67 closed

[2020-08-02 10:22] vova3211 commented on #71
At the moment it's not possible.
`AspNetCore.Identity.Mongo.Model.MongoUser` inherited from `Microsoft.AspNetCore.Identity.IdentityUser<TKey>` where `<TKey>` is `MongoDB.Bson.ObjectId`.

Basically, it's possible to do what you want. There should be something like `AspNetCore.Identity.Mongo.Model.MongoUser<TKey>` where you can set any type.

[2020-08-02 10:47] vova3211 commented on #69
@a-a-k from IdentityServer4 [docs](http://docs.identityserver.io/en/latest/quickstarts/community.html#identityserver4-samples-for-mongodb) you can see repo with provided MongoDB implementation.

How i'm presonally using:

1. In startup `ConfigureServices`
[code]
2. In `Configure`
[code]
 - use [this repo](https://github.com/souzartn/IdentityServer4.Samples.Mongo) as a base
 - add nuget package `As

[2020-08-02 10:49] vova3211 commented on #66
Closed as no response for long time. If you'll have any questions, re-open it.

[2020-08-02 10:49] #66 closed

[2020-08-02 11:05] vova3211 commented on #68
Yes like said previously @lenwen this issue is not related with this library.

Try to generate token and then immediately validate it. If it's ok, then your token modified outside the app. If no, then it's problem in something else.

Also issue opened a lot time ago - is it still actual?

[2020-08-02 11:24] vova3211 opened #72 "Nuget package publish"
Hi @matteofabbri !! I had been a little bit busy, but now i'm back :)

I've notice that you facing issue with nuget. Can you explain a little bit more about problem? Can we somehow help you?

As i understood, you have problem with publishing nuget package because of your IP. And nuget can't validate that you are owner, am i right?

Some approaches what i see at the moment:

1. You can give access

[2020-08-03 14:34] #68 closed

[2020-08-08 01:31] matteofabbri commented on #72
@vova3211 hey, thanks for your help. I'm dealing with big Covid related family issues so to be honest Nuget login is the very least of my problem.
I would be very happy to add you to the control and even more to setup the automatic deploy but to do all of those i need to access my account that for the moment is locked ( i had the wonderful idea to follow instruction of help service and change secu

[2020-08-09 09:36] vova3211 commented on #72
oh, i see. Hope you're doing well!

[2020-08-09 09:36] #72 closed

[2020-08-26 06:37] a-a-k commented on #69
thnx vova!

[2020-08-26 06:37] #69 closed

[2020-09-05 08:21] Matman94 opened #74 "System.NotSupportedException: 'TypeConverter cannot convert from System.String.'"
Hi,
There is some problem when I give the role to the user by /User/AddToRole(string roleName, string userName). ConvertIdFromString function catch the fallowing error:

![image](https://user-images.githubusercontent.com/23061794/92301116-17e57000-ef61-11ea-82d6-a6e50e593e7f.png)

Is this bug or I doing something wrong ?

[2020-09-13 09:40] jiataocai commented on #74
I fixed it by:
**Added a new convert class:**
public class ObjectIdConverter : TypeConverter
    {
        public override bool CanConvertFrom(ITypeDescriptorContext context,
                                            Type sourceType)
        {
            if (sourceType == typeof(string))
                return true;
            return base.CanConvertFrom(context, sourceType);
        }

[2020-09-13 10:52] vova3211 commented on #74
@jiataocai thanks, i did exactly what you, but without modification of `UserStore` or `RoleStore` ;)
after Matteo merge pull request and publish new version with fix, you can upgrade package.

[2020-09-14 08:46] Matman94 commented on #74
Thanks for your help, guys.

[2020-09-15 09:04] #74 closed

[2020-10-07 14:24] louislewis2 commented on #71
Hi,

Has this change been released yet to nuget?

[2020-10-24 10:30] radeanurazvan commented on #71
Any news on this?

[2020-10-26 11:17] matteofabbri commented on #71
@radeanurazvan sorry but due to Covid related shits i dont have the time neither the energy to take care of the packet at the moment :(

[2020-11-02 20:27] dgrozenok opened #76 "Ability to subscribe to Mongo Events"
To set up the MongoDB instrumentation for the OpenTelemetry tracing I need to configure the MongoClient like this:
https://github.com/jbogard/MongoDB.Driver.Core.Extensions.DiagnosticSources

[code]

Is it possible to provide such ability to intercept the MongoClient creation during the setup?

[2020-11-09 08:56] Softtinn commented on #71
We are also affected by this issue.

@matteofabbri
Sorry to hear that - hope you are well!

[2020-11-20 16:02] mayankjanmejay opened #78 "Tutorial"
Hi Guys,

I apologie for the super newbie question.

Is there is tutorial on how to add this to a project?

[2020-12-18 10:49] mcbaloo commented on #26
I am trying to save user record but I also noticed that NormalizedEmail is null in my MongoCollection after saving the record. What could be the cause?

[2020-12-21 14:07] vova3211 commented on #78
Hi, is this still relevant for you?

Readme file at the root of project has [How to use section](https://github.com/matteofabbri/AspNetCore.Identity.Mongo#how-to-use)

[2020-12-21 15:50] mayankjanmejay commented on #78
Hey,
Thank you very much for your response.
So i created a new .net core 5.0 api. Installed your package and then inserted the config which you pointed me to and when i try to use
api/token or api/Account/Register

I get 404.

Please help.

[2020-12-21 17:32] vova3211 commented on #78
Library does not support .Net 5.0.

I'll open separate issue for supporting .Net 5.0, but the usage will be the same as mentioned in readme.

Also lib does not provide any API functionality such as `api/token` or any other endpoint.

It's like mongodb wrapper on ASP.NET Identity. It is more about user/role management.

[2020-12-21 17:40] vova3211 opened #79 ".Net 5.0 support"
Due to NET 5.0 release need to update library to support it.

Required:

1. Investigate what changes made in NET 5.0 Identity and define the scope of work to be done.
2. Way of managing multiple package versions for different Net Core versions.

[2020-12-23 17:01] vova3211 commented on #79
Re 1:
Looks like no changes for ASP.NET Core Identity was made in .NET 5.0, at least any breaking changes.
So, I hope, what needs to be done is just to update packages references.

[List of breaking changes.](https://docs.microsoft.com/en-us/dotnet/core/compatibility/5.0)

Re 2:
We should create separate branch for .NET Core 3.1 version (currently our master branch).
Master branch will be for .Net

[2020-12-23 17:11] vova3211 commented on #76
What I can said on that:

We need to add ability to setup callback action for `MongoClientSettings.ClusterConfigurator` when we are registering Identity at `services.AddIdentityMongoDbProvider(...);`
It will look smth like:
[code]

[2020-12-23 20:06] vova3211 opened #80 "Repository structure rework"
**Propasal:**
Rework current repository folder structure to the next:
[code]
Move all test projects to separate repository AspNetCore.Identity.Mongo.Example.

**Why:**
1. Repository contains a lot of unstructured code
2. Repository does not have unit tests
3. Test projects (like [SelfCheck](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/tree/master/SelfCheck), [TestIdentityServer](https

[2020-12-24 12:07] vova3211 opened #81 "Unit tests"
Repository does not have unit tests.

Also test projects are not the best way to test library. They good to be useful examples of library usage.

[2020-12-24 12:09] vova3211 commented on #80
Unit tests should not be the part of repository folder structure refactoring.

Created another issue for it.

See #81

[2020-12-24 12:24] vova3211 opened #82 "Community guides"
1. Code of conduct
2. Contributing
3. Issue/PR templates

[2021-01-06 16:17] MohamedAarab opened #84 "Save identityusers in CamelCase"
Right now all of my users are saved in the database with propertie names in upper camel case. I would like to save the identity users to save in Lower Camel Case so that it doesn't confuse the mongo db driver when retrieving the users. Is there a way to achieve this with this package? I have tried registering a ConventionPack with the CamelCaseElementNameConvention in it, but for some reason this

[2021-01-06 17:10] MohamedAarab commented on #84
Nevermind, I registered the ConventionPack with CamelCaseElementNameConvention AFTER initialisation of this library, which caused the code to ignore my own convention pack and use the default one that didn't have CamelCaseElementNameConvention

[2021-01-06 17:10] #84 closed

[2021-01-18 04:15] KonH commented on #71
We suffer from that issue too.
Also, for now, AddIdentityMongoDbProvider has no option to use separated keys for user and role, unfortunately.

[2021-01-21 20:43] przemo1983 opened #85 "blazor tutorial with dotnet 5.0"
is it possible to provide simple blazor tutorial for dotnet 5.0?

[2021-01-22 10:28] vova3211 commented on #85
Hi,
please take a look at this issues #40 #52 .
[Specially that comment](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/issues/40#issuecomment-604649026)

It's for .Net Core 3.1, I believe, but should be also useful for .Net 5.

[2021-01-22 10:30] przemo1983 commented on #85
Thank you very much. :)

[2021-01-22 10:30] #85 closed

[2021-01-22 17:12] #79 closed

[2021-01-23 09:58] vova3211 commented on #71
@KonH what the point to use different keys for user and role collactions? Usually used the same key for database integrity and consistency.
If you think that this should be implemented, please, create separate issue and explain what you are trying to achieve.

[2021-01-23 10:02] Daviidbit commented on #71
Hi, In version 6.0.0 you can use simple guid as _id field. but in newer
versions the only option is ObjectId. In some cases there is a need to use
different keys such is integer on strings. if this could be implemented, it
would be a great help. I am still using version 6.0.0

On Sat, Jan 23, 2021, 13:28 vova3211 <notifications@github.com> wrote:

[2021-01-23 10:05] vova3211 commented on #80
.
    ├── docs                    # Documentation files
    ├── src                     # Source files
    ├── samples                 # Projects with samples of lib usage
    ├── tests                   # Unit tests
    ├── LICENSE
    └── README.md

[2021-01-23 10:20] przemo1983 opened #86 "how to add ApplicationRole to startup file in latest implementation?"
Hi.

I am using the latest code. In startup.cs I have code as follows:
[code]

I cannot pass in ApplicationRole into AddIdentityMongoDbProvider and during making a registration attempt I got following error:
`Unable to resolve service for type 'Microsoft.AspNetCore.Identity.RoleManager`

Definition of AddIdentityMongoDbProvider in my code
[code]

My UserController is as follows
[code]

[2021-01-23 10:25] vova3211 commented on #71
Hi @Daviidbit , in newer version you can set `Key` for User and Role entities.
`MongoUser` - using ObjectId as a Key, because it's "native" mongo id.

But you can specify your Key - `MongoUser<Key>`:
`MongoUser<string>` - string equivalent

And in your startup use:
[code]

[2021-01-23 10:28] vova3211 commented on #86
Hi, can you provide implementation of `ApplicationUser` class?

[2021-01-23 10:30] przemo1983 commented on #86
It is simple an empty class:
[code]

[2021-01-23 10:37] vova3211 commented on #86
You should create `ApplicationRole` or use directly `MongoRole`:
[code]

In Startup will be:
[code]

[2021-01-23 10:43] przemo1983 commented on #86
Thank you very much. Works fine. :)

[2021-01-23 10:43] #86 closed

[2021-01-23 10:46] vova3211 commented on #82
**How to use:** section is outdated.
Also whole Readme needs review and update.

[2021-01-23 14:21] vova3211 opened #88 "Sample projects"
Projects:
1. Simple Razor project - (review/update/cleanup existing project - TestSite)
2. Simple Blazor project - [example](https://github.com/BuzzDee3000/AspNetCoreBlazorWithMongoIdentitySample)
3. IdentityServer4 project

If someone wants to grab this one, you are welcome.
Please create separate PR for each project.

[2021-01-24 03:14] Ryanlewis2018 commented on #88
If i can ever figure out IS 4 ill post it ive been trying to get a hosted Blazor WASM app to work but the server wants AddApiAuthorization and i havent cracked the code yet.

[2021-01-24 03:46] KonH commented on #71
We use role name as a role key (for some reason), but object Id as a user key. It isn't critical for now.

[2021-01-24 09:38] #80 closed

[2021-01-27 13:23] mayankjanmejay opened #90 "Unable to post Register using sample project"
Hi,

I downloaded and configured your AspNetCore.Identity.Mongo sample project. I am able to register & login via the browser but when I try to replicate the Register request via postman. I keep getting 400, Bad request.

Please help.

Is there something I am missing from the headers?

https://github.com/matteofabbri/AspNetCore.Identity.Mongo

![image](https://user-images.githubusercontent.com/358

[2021-01-27 13:31] #82 closed

[2021-01-27 13:51] vova3211 commented on #90
Hi @mayankjanmejay ,
Test site is Razor-based project and it uses cookies and anti forgery tokens.

1. You need enable cookies for localhost domain (which seems to be done)
2. You need add 1 more parametr in body "__RequestVerificationToken" with anti forgery token value.
Also use x-www-form-urlencoded instead of form-data. (Should work with form-data, but x-www-form-urlencoded will work for sure)

[2021-01-27 14:32] mayankjanmejay commented on #90
Ahh I see now.
I disabled the antiforgery token for testing and now the endpoint works, Just one more question.

When I initiate Account/Login I get a html webpage as the return is it possible to get the token instead which I could use to make other authenticated queries?
![image](https://user-images.githubusercontent.com/35850067/106005508-f8d8ad80-60bc-11eb-8da0-1a0c2dad6c40.png)

[2021-01-27 14:59] vova3211 commented on #71
Hi there!

New nuget versions already published:
[.Net Core 3.x version](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/6.7.3)
[.Net 5.x version](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.0.0)

[2021-01-27 14:59] #71 closed

[2021-01-27 15:02] vova3211 commented on #78
Hi @mayankjanmejay !

We released new package version that supports .Net 5.0. [Nuget package](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.0.0)
Also [how-to-use section](https://github.com/matteofabbri/AspNetCore.Identity.Mongo#how-to-use) updated.

[2021-01-27 15:09] #78 closed

[2021-01-27 15:21] vova3211 commented on #90
As I undestand, you want to have an API project and use JWT token for authorization, right?

Sample is stateful app and using cookie to store information about authenticated user. It does not suitable for this.
You need to implement own API and JWT functionality instead.

Useful links:
[jwt-auth-in-asp-net-core](https://codeburst.io/jwt-auth-in-asp-net-core-148fb72bed03)
[IdentityServer4](https://

[2021-01-29 16:35] mayankjanmejay commented on #90
From what I understood from your comment. I couldn't use the sample project to make a api. So I created a new ASP .net code 5 project and followed [this tutorial ](http://alejandroruizvarela.blogspot.com/2018/11/aspnet-core-identity-with-cosmos-db.html) to integrate your plugin into the project.

The tutorial is missing token generation so i googled and fixed that but then when I try to use the to

[2021-02-06 10:31] vova3211 commented on #90
Hi, tutorial is fine. At the end of article you can find link to [github repository](https://github.com/AlejandroRuiz/CosmosDBTutorial). It has [AuthenticationHelper](https://github.com/AlejandroRuiz/CosmosDBTutorial/blob/master/MyAwesomeWebApi/Helpers/AuthenticationHelper.cs) where token generates.

Also your token generation configs should match in Startup where you register jwt validation and i

[2021-02-08 16:52] mayankjanmejay commented on #90
I added the changes you suggested and it is working. Thank you very much for your help.

[2021-02-08 16:53] #90 closed

[2021-02-14 01:06] Ateyib2 opened #91 "Using AspNetCore.Identity.Mongo in an api project"
Hello,

There probably is a way to do this already but I was wondering what I need to do in order to this package in an API project for a backend for my mobile application.

It could be returning a token when a user signs in instead of a View(),

Help greatly appreciated.

[2021-02-14 01:18] #91 closed

[2021-02-14 01:18] Ateyib2 commented on #91
Found solution

[2021-02-15 06:42] roman-ledermann-erni opened #92 "Allow to use X509 certificates to connect to Mongo"
MongoDB.Driver does not support the usage of TLS parameters related to X509 certificates in the connection string. You need to call a different constructor of the MongoClient class to be able to use certificates to authenticate against a database. Right now the extension methods available in AspNetCore.Identity.Mongo only allow to use a connection string.

The solution would be to add a new extens

[2021-02-15 10:10] vova3211 commented on #92
Hi @roman-ledermann-erni ! Thanks for request.

The best solution is add extension which receive `MongoDB.Driver.MongoClientSettings`. Then you can set any option you want/require. Like ssl/tls, certificates, timeouts etc.

[2021-02-15 10:20] vova3211 commented on #92
Also what version of .Net Core you required?
.Net 5.0 now is the main framework where this feature will be added. Do you need it in .Net Core 3.x or else?

[2021-02-15 10:30] roman-ledermann-erni commented on #92
Hi @vova3211

I would need the change for .NET Core 3.1 since we do not have plans yet to update to .NET 5 anytime soon

[2021-03-26 12:53] thebestgin opened #93 "Performance issue"
Nice project.

You made sure to index the right properties (NormalizedEmail and NormalizedUserName) in MongoDB. Queries are very fast because of this.

I noticed that the library is very slow if I register users by:
`_signInManager.UserManager.CreateAsync(user, autoPassword);`

With my configuration I reach a maximum of 40 registrations per second. If I use a SQL server I reach 80 registrations pe

[2021-03-26 14:10] vova3211 commented on #93
Hi @thebestgin ,

Comparison between direct insertion and though framework does not make sense. Direct queries always faster then via any wrappers.

But you are definitely right that `CreateAsync` method a little bit slow. There are few updates after insert - if `user.Email` not empty, will be 2 more updates around normalization of email. Which not make sense, because all necessary transformations

[2021-03-26 14:11] vova3211 commented on #93
Could be more of this kind of problem in other methods. Need to check them all.

[2021-03-26 15:37] thebestgin commented on #93
Thank you for your quick reply.
I'll take a look at your code as well.

If I can test anything, let me know.
Really cool project.

[2021-03-27 13:33] vova3211 commented on #76
@dgrozenok nuget version 6.8.0-rc published with ability to set ClusterConfigurator. You can test it and send response until it will be published as release version.

[2021-03-27 13:34] vova3211 commented on #92
@roman-ledermann-erni nuget version 6.8.0-rc published with ability to set SslSettings. You can test it and send response until it will be published as release version.

[2021-03-30 14:01] vova3211 commented on #93
There is misconception in implementation of UserStore/RoleStore. It making some changes which not suppose to do. It is doing the same what `UserManager` do, and as a consequence we have multiple operations (same operations or unnecessary) on the 1 object.

[2021-04-01 14:56] thebestgin commented on #93
I will prepare a full Asp project for you this weekend.

[2021-04-03 10:10] thebestgin commented on #93
I have implemented a small test program.
This library AspNetCore.Identity.Mongo manages 40 registrations per second with my PC configuration.

I tested a few other MongoDB identity libraries. All of them reach about 40 registrations per second.
Maybe we can get a little more out of it.

I'm still finishing the test project and will make it available

[2021-04-03 11:13] thebestgin commented on #93
[IndentityAndMongoDBTesting.zip](https://github.com/matteofabbri/AspNetCore.Identity.Mongo/files/6252434/IndentityAndMongoDBTesting.zip)
This is my test project. It is very basic.

[2021-04-07 10:41] smrutiranjan727 opened #95 "Problem in configuring MongoDB"
I'm using ASP.Net Core Identity.
Have set up the Connection string in Startup.cs
Already added a sample user to my db using MongoDB Compass db.createUser command.
But my login authentication returns as invalid username or password.

Is there a way to check if the connection to the Mongo DB is successful.
_signInManager.PasswordSignInAsync(....) return as failed.

[2021-04-08 07:47] vova3211 commented on #95
You should use `UserManager<TUser>` (e.g. `UserManager<MongoUser>`) to create user instead of create it manually. It has 2 methods `CreateUserAsync()` with pwd and without. /w password your option.

[2021-04-08 08:14] smrutiranjan727 commented on #95
Hi. Thanks for your response.
This is fine for creating the new users. How about the old users? Are those users need to be created manually one by one?

And I do have one more doubt here. Does the method CreateUserAsync() create a MongoDB user or does it create a new collection in the database to store the users?

[2021-04-08 09:45] vova3211 commented on #95
What the old users are? When they was created and how, via this lib? Please provide more info.

`CreateUserAsync()` creates new user record. If collection does not exist, it will be created. Name of collection is "Users" by default, but you can set any name while registering `services.AddIdentityMongoDbProvider...`

[2021-04-08 10:25] smrutiranjan727 commented on #95
No, all the old users are not yet created.
Actually, we are upgrading our existing application's authentication to ASP.NET Core Identity and MongoDB which means we already have few hundreds of existing users whose credentials we have to migrate from MS SQL to MongoDB using the import functionality provided in MongoDB Compass.
So, those are our existing users I was referring to.

Even though the co

[2021-04-08 10:35] vova3211 commented on #95
This is how it should look:
[code]

Password can't be as simple string and should be hashed. E.g. password "Admin123!" will be as "AQAAAAEAACcQAAAAEMXTUQRKXJNXV73VuxdyjDuNOISNG+BN2Vr2NIGWQxTUjzW5opfpKkgI6xJ/IohJrQ==".

The best option to you is to create simple console application and using `UserManager` create users one by one.

[2021-04-08 10:44] smrutiranjan727 commented on #95
Ok @vova3211 . Thanks for your quick reply.
Yeah, we have the passwords stored encrypted using our own encryption keys and that was just a sample to show the format of the data stored in the "Users" collection.
Thanks a lot for your concern and the suggestion.
Will try to create the users using `UserManager` and get back to you.

[2021-04-08 10:54] vova3211 commented on #95
If you are using own enctyption algorithm, you probably wanna use custom implementation of IPasswordHasher.

This article can be useful [custom passwordhasher](https://andrewlock.net/exploring-the-asp-net-core-identity-passwordhasher/)

[2021-04-08 14:06] roman-ledermann-erni commented on #92
Finally had time to test your changes. Everything works as expected

[2021-04-08 15:43] smrutiranjan727 commented on #95
We had the passwords encrypted and stored in the MS SQL. Now we are planning to come out of MS SQL at least for the Authorization services.

This Identity Server with MongoDB architecture is still under evaluation stage and it hasn't been finalized yet for the full fledged development and production stages.
Once the POC (Proof of Concept) is ready we'll be deciding on implementing our own encrypti

[2021-04-09 06:33] smrutiranjan727 commented on #95
Hi @vova3211 . This is to update that using `UserManager` to create a new user solved the issue and now able to login successfully.
Thanks.

[2021-04-09 06:33] #95 closed

[2021-04-09 15:58] vova3211 commented on #92
Version [8.1.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.1.0) for .NET 5.0 and version [6.8.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/6.8.0) for .Net 3.1 already published.

[2021-04-09 15:58] #92 closed

[2021-04-09 15:58] vova3211 commented on #76
Version [8.1.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.1.0) for .NET 5.0 and version [6.8.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/6.8.0) for .Net 3.1 already published.

[2021-04-09 15:58] #76 closed

[2021-05-13 08:39] matteoventuri7 opened #97 "Blazor webassembly compatible?"
Is it compatible with Blazor Webassembly?

[2021-05-13 09:03] matteoventuri7 commented on #97
Attach error: "Non è possibile usare il tipo 'Server.Models.ApplicationUser' come parametro di tipo 'TUser' nel metodo o nel tipo generico 'ApiAuthorizationDbContext<TUser>'. Non esistono conversioni implicite di riferimenti da 'Server.Models.ApplicationUser' a 'Microsoft.AspNetCore.Identity.IdentityUser'.	Server	C:\Users\mvent\Desktop\blazormongologin\blazormongologin\Server\Data\ApplicationDbCon

[2021-05-13 10:45] vova3211 commented on #97
Hi @matteoventuri7 ,
re 1: yes it is compatible with Blazor.

re 2:
Please use english or translate error before sharing.

Your error message translated with google:

Can you provide more info what is `ApiAuthorizationDbContext` an how you use it?

[2021-05-13 13:13] matteoventuri7 commented on #97
I created new Blazor Webassembly project with hosted .net backend. Backend side, ApplicationDbContext inherits from ApiAuthorizationDbContext<ApplicationUser> where ApplicationUser is MongoUser<string> and error appears.
Youi can replicate creating new blazor webassembly project on Visual studio 2019 with .NET 5

[2021-05-13 13:27] vova3211 commented on #97
please look at comment
https://github.com/matteofabbri/AspNetCore.Identity.Mongo/issues/85#issuecomment-765308579

[2021-05-13 13:46] matteoventuri7 commented on #97
Perfect! I suggest to link it in readme.

[2021-05-13 13:47] matteoventuri7 commented on #97
This example is for Blazor Server, i mean Blazro Webassembly with host .net.

[2021-05-13 14:03] vova3211 commented on #97
I am not familiar with Blazor Webassembly, but usage will be the same as for Blazor Server.
Your previous message with error says that you have problem with `ApiAuthorizationDbContext` which is not a part of this library, so I assume problem not in it.

If `ApiAuthorizationDbContext` is [apiauthorizationdbcontext](https://docs.microsoft.com/ru-ru/dotnet/api/microsoft.aspnetcore.apiauthorization.id

[2021-05-13 14:04] vova3211 commented on #97
What more - this library only about ASP.NET Core Identity framework and have nothing related to IdentityServer.

[2021-05-13 14:14] matteoventuri7 commented on #97
Blazor Server and Blazor Webassembly are different: Blazor server uses SignalR, Blazor Webassembly uses webassembly and call REST API backend.
This is a extract from ApiAuthorizationDbContext doc page: "Database abstraction for a combined DbContext using ASP.NET Identity and Identity Server." Nowhere is it written that "it for SQL-like databases" like you said.

This is my code:
class ApplicationD

[2021-05-13 15:18] vova3211 commented on #97
Docs should not say it directly, but it is.

Did you check thread what i sent? `ApiAuthorizationDbContext` is using for default scenario. If you need `IdentityUser<TKey>` with different `TKey`, you should implement your own context inherited from `DbContext`.
But as I said it won't work with mongodb.

Would be useful if you'll describe what you trying to achieve, share code snippets / test reposit

[2021-05-13 22:19] matteoventuri7 commented on #97
Here the project with error: https://github.com/matteoventuri7/blazormongologin
Download and compile.

[2021-05-14 09:16] vova3211 commented on #97
The problem in the part of registration IdentityServer4.
[code]

You should register your own implementation of base services/interfaces to work with mongodb (instead of using default). Here is example from IdentityServer4 docs [IdentityServer4.Samples.Mongo](https://github.com/souzartn/IdentityServer4.Samples.Mongo)

[2021-06-08 20:18] johnkwaters opened #98 "IdentityServer Example"
I would like to try using your Mongo Identity solution with IdentityServer (or the new Duende IdentityServer).
IdentiyServer has a AspNetIdentity extension - would that work out of the box with your Mongo AspnetIdentity code?

[2021-06-10 09:09] vova3211 commented on #98
Hi, yes sure.
Register MongodbIdentity and then add `AddAspNetIdentity<MongoUser>`
[code]

[2021-06-17 13:44] iamtheluckyest opened #99 "Support for AddIdentityCore"
**Is your feature request related to a problem? Please describe.**
As currently implemented, `AddIdentityMongoDbProvider` uses `services.AddIdentity`. When a user is unauthenticated, rather than sending a 401, Identity tries to redirect to login. In the web API project I'm working on, this attempt to redirect results in a 404. This means that the consequence of attempting a route the user is unaut

[2021-06-18 20:51] matteoventuri7 commented on #97
Ok, the response is "in this moment AspNetCore.Identity.Mongo is not compatible with Blazor Wasm".
Do you think will be some implementation about this?

[2021-06-21 07:35] bugproof commented on #93
@thebestgin How do you test how many registrations per second can you make?

[2021-06-21 08:06] thebestgin commented on #93
I test with the call of an Async method in a For Loop. I measure the total time until all Async methods are finished. Then I calculate the average value for registrations per second.

It is a very simple way to evaluate the performance. The whole thing can also be parallelized. For me, it is enough to compare technologies with each other.

[2021-06-21 08:06] thebestgin commented on #93
I test with the call of an Async method in a For Loop. I measure the total time until all Async methods are finished. Then I calculate the average value for registrations per second.

It is a very simple way to evaluate the performance. The whole thing can also be parallelized. For me, it is enough to compare technologies with each other.

[2021-06-21 15:51] vova3211 commented on #99
Hi @iamtheluckyest ! Please provider an extra info:

1. version of nuget package you are using.
2. version of .Net, type of project (is it blazor app or else)
3. what type of Authorization you are using (jwt tokens, AD, cookie etc.).
4. how did you implement/register Authorization services.

Code snippets/repo share will be useful also.

[2021-06-21 16:48] iamtheluckyest commented on #99
8.1.0

.Net 5.0, Web API. It's not a Blazor App, but I'm not sure if there is other information here you are asking for.

JWT tokens, eventually with Http Cookie for getting a refresh token, but that part is not implemented yet.

In Startup.ConfigureServices
[code]

In Startup.Configure
`app.UseAuthentication();`

There is no repo I can share. But hopefully that code snippet is helpful. I did pull

[2021-06-21 17:28] vova3211 commented on #99
Thanks.
Yes, we definitely can add 1 more extension method to configure `AddIdentityCore<TUser>`. If you'd like, you can create PR with this changes as well.

One thing that we need to be aware of that `AddIdentityCore<TUser>` configures only User services. You did add `AddRoles<TRole>` which is good, but there are also few more services in compare with `AddIdentity<TUser, TRole>`:
[code]

The que

[2021-06-22 09:03] vova3211 commented on #93
There is test package [8.2.0-alpha](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.2.0-alpha) with performance improvements.

[2021-06-22 09:47] thebestgin commented on #93
Good job, you have doubled the performance with my PC configuration.

[2021-06-22 11:20] vova3211 commented on #97
I would not say that "AspNetCore.Identity.Mongo is not compatible with Blazor Wasm".
You have problems with using `MongoUser` from this lib in the `Microsoft.AspNetCore.ApiAuthorization.IdentityServer.ApiAuthorizationDbContext`. All info in my comments above.

You can ask help in [aspnetcore](https://github.com/dotnet/aspnetcore) community. There is nothing I can do more for you.

[2021-06-22 16:37] #93 closed

[2021-06-22 16:40] #99 closed

[2021-06-22 16:51] vova3211 commented on #93
New package release [8.2.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.2.0) includes that functionality.

[2021-06-22 17:01] vova3211 commented on #99
@iamtheluckyest
New package release [8.2.0](https://www.nuget.org/packages/AspNetCore.Identity.Mongo/8.2.0) includes that functionality.
Added `AddMongoDbStores` that allows to register only mongodb stores, so you can register any stuff you want.
Ordinary usage:
[code]
In your case:
[code]

[2021-06-23 16:29] ChristPetitjean opened #102 "[BUG] 404 on /.well-known/openid-configuration"
**Describe the bug**
When trying to use the server to authenticate via openid like identity server, we get a 404 on the discovery url (/.well-known/openid-configuration)

**To Reproduce**
Steps to reproduce the behavior:
1. Download and run the sample app
2. Create an SPA with the oidc-client package
3. try to connect
4. See error

**Expected behavior**
The discovery url respond and wen are redire

[2021-06-26 13:52] vova3211 commented on #102
Hi @ChristPetitjean ,
Library by itself doesn't provide such endpoints and funtionality.

I assume you are trying to use IdentityServer. If yes, propably something set up incorrect. Please provide information how you configure it and I'll try to help you.

[2021-06-27 17:01] weirdyang opened #103 "How do I ensure the schema is created?"
Which methods do I call to ensure the tables are created in the database?

[2021-07-01 13:42] #103 closed

[2021-07-03 17:59] artyom-p commented on #97
Same issue here :(

[2021-07-07 12:48] vova3211 commented on #97
If someone provide working example of Blazor WebAssembly + IS4 + SQL, I'll try to setup it with MongoDB.

[2021-07-07 12:58] artyom-p commented on #97
Its the default blazor webassembly template which is not working with mongo.
Just add Hosted option when creating a template, and use Individual user accounts.
![image](https://user-images.githubusercontent.com/3993463/124763016-2f540780-df3c-11eb-906e-d2b49127df8b.png)

[2021-07-07 20:18] vova3211 commented on #97
Hey, I created sample project [BWA-IS4-MongoDB](https://github.com/vova3211/BWA-IS4-MongoDB).
I used default blazor webassembly template, some notes around implementation:
1. `AddIdentityMongoDbProvider<MongoUser>` inside uses `AddIdentity<TUser, TRole>()` that registers extra Authentication options, which conflict with `AddIdentityServerJwt()`. So to be able use it, you should register only Mongo

[2021-07-08 06:49] artyom-p commented on #97
Did a quick test, seems like it works, thank you!

[2021-08-24 14:18] cyrilCodePro opened #104 "[BUG] Resetting User Password"
**Describe the bug**
When resetting a user password it does not effect changes

**To Reproduce**
Steps to reproduce the behavior:
1. From  the `UserManager<T> ` call the `ResetPasswordAsync `method and pass the necessary parameters

**Expected behavior**
It should be able to reflect the new password to change .

**Screenshots**
N/A

**Environment (please complete the following information):**
 - .

[2021-08-25 13:12] vova3211 commented on #104
Hi @cyrilCodePro ,
I don't see any problems with resetting password. `.ResetPasswordAsync` returns `Microsoft.AspNetCore.Identity.IdentityResult` that has Errors property with description/s why password is not changed.

Please check that first.

Possible issues: invalid reset token, password not follows minimal rules etc.

[2021-08-25 13:13] vova3211 commented on #97
Closed as no response for long time. If you'll have any questions, re-open it.

[2021-08-25 13:13] #97 closed

[2021-08-25 13:14] vova3211 commented on #102
Closed as no response for long time. If you'll have any questions, re-open it.

[2021-08-25 13:14] #102 closed

[2021-09-01 22:48] johnkwaters opened #105 "Add support for IdentityProviders?"
Duende IdentityServer lets you store a list of dynamically loaded OIDC idendity providers in a store...needs a custom

.AddIdentityProviderStore<CustomIdentityProviderStore>();

Similar to the other custom stores.

Could this be added to the package?

[2021-09-05 09:41] vova3211 commented on #105
Hi @johnkwaters !
Sorry, I don't understand what you want to add?
If you are talking about [AddIdentityProviderStore<T>](https://docs.duendesoftware.com/identityserver/v5/reference/di/#configuration-stores), you need implement interface [IIdentityProviderStore](https://docs.duendesoftware.com/identityserver/v5/reference/stores/idp_store/) that can be based on MongoDB (or any other store).
Then jus

[2021-09-17 20:24] iXyles opened #107 "Question - .NET 6"
Hello,

I am just curious to see if you have any plans of making a port over to .NET 6 when they officially release the 6.0 version.

Or if your plan is to stay with the more flexible solution of .Netstandard 2.1+

I saw that someone had already commented regarding the security questions around it with: https://github.com/matteofabbri/AspNetCore.Identity.Mongo/pull/106 and I can see this would als

[2021-09-19 07:42] vova3211 commented on #107
Hi @iXyles !
Yes, we are going to support .NET 6 after it's official release.

[2021-10-07 22:55] daviddesmet opened #108 "2FA recovery codes not removed after use"
**Describe the bug**
After redeeming a 2FA recovery code, it remains valid and is not removed from the database.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign in using a recovery code with `TwoFactorRecoveryCodeSignInAsync`.
2. Wait for login to complete.
3. Logout.
4. Sign in again using the same recovery code.

**Expected behavior**
2FA recovery codes should only be valid once and w

[2021-10-10 08:29] #108 closed

[2021-10-10 08:39] vova3211 commented on #104
Closed - no response for long time.

[2021-10-10 08:39] #104 closed

[2021-10-19 17:56] johnkwaters opened #111 "'AuthenticatorKey' does not match any field or property of class AspNetCore.Identity.Mongo.Model.MongoUser"
I got this after upgrading to the latest version. Is there a migration to run or some mitigation?

[2021-10-19 20:42] vova3211 commented on #111
Hi @johnkwaters ,
There are 2 possible solutions for you right now:
1. remove `AuthenticatorKey` property from every user record in db. (probably RecoveryCodes also)
2. use [BsonIgnoreExtraElements] attribute on top of class that inherited from MongoUser. If you use MongoUser directly, create new class inherited from MongoUser. And use it instead.

it's known issue. We are working on it right now.

[2021-10-25 06:46] IvayloGugalov opened #113 "PersonalData attribute is neglected by UserManager"
**Describe the bug**
Hi, I have recently started using mongoDB. I have a `class User : MongoUser<Guid>` with some custom properties
`[BsonRequired]
 [PersonalData]
 public string FirstName { get; }`

`[BsonRequired]
 [PersonalData]
 public string LastName { get; }`

When calling `UserManager.FindByEmailAsync(email)`, the returned result for the User is setting my custom user data properties to NUL

[2021-10-25 08:40] #111 closed, assigned to nobody

[2021-10-26 16:39] #113 closed, assigned to vova3211

[2021-11-20 17:30] #107 closed

[2021-12-01 08:09] johnkwaters opened #116 "Users and Roles are getting created in the mongo 'default' db, instead of the one in my connection string"
The mongo collections Roles, Users and _Migrations get  created in the 'default' database.
Other collections in my project get created correctly in the database called 'mongoid'

My connection string looks like this
mongodb://root:example@localhost:27018/mongoid?authSource=admin

Or when using docker compose from my API to a this same docker mongo,

mongodb://root::example@mongoid:2017 (note diffe

[2021-12-01 16:24] johnkwaters commented on #116
Never mind - I found the issue. I needed to specify the database on the connection string in both cases, now it works

From service running outside docker compose network:
mongodb://root:example@localhost:27018/identityserver?authSource=admin

From service running inside docker compose network:
mongodb://root::example@mongoid:2017/identityserver?authSource=admin

[2021-12-01 16:24] #116 closed

[2021-12-25 09:40] mahyar1386 commented on #107
The official release of .Net 6 is now available. Does this project support .Net 6?

[2022-01-05 23:12] martin-masse opened #118 "Unable to make User collection indexes unique"
Hi,

I was looking at making the index on NormalizedEmail and NormalizedUserName unique. It does not seems to be possible.

I can't override this behavior by registering my own IUserStore<> that inherit from AspNetCore.Identity.Mongo.Stores.UserStore.  It is not possible since EnsureIndex is called in the UserStore constructor and it will always be called.

I have considered adding another index b

[2022-02-22 01:00] pippinmole opened #121 "UpdateUserAsync not properly saving data in Hosted Service"
**Describe the bug**
When setting the username of a user, updating it (through userManager.UpdateUserAsync(user)), the user data is not stored. This is clearly shown in the screenshot where I get the user straight after, to which the names do not match, but sometimes they do?

![image](https://user-images.githubusercontent.com/40035529/155043980-5c654fe6-54b8-45b1-904d-185b103f07b6.png)

It is wor

[2022-02-22 13:09] pippinmole commented on #121
It may be worth noting that if I change the IAppUserManager (my interface) to UserManager<TUser> (MongoDB .NET library), it still produces this error, as shown in the images below

![image](https://user-images.githubusercontent.com/40035529/155138663-f817d35f-b71a-4738-b673-ba44275f238d.png)
![image](https://user-images.githubusercontent.com/40035529/155138689-eb78f864-aaef-45e7-8848-9c300e2d0bc4.

[2022-03-18 09:19] Lukejkw opened #122 "User and Role ID should not have to be the same type"
**Is your feature request related to a problem? Please describe.**
We use value objects for the key IDs of our user and role objects. However, registration requires these values to be the same type when making a call to `AddIdentityMongoDbProvider`

**Describe the solution you'd like**

It would be nice to be able to define the key types for the user and role separately rather than forcing them to

[2022-06-20 08:06] novecento commented on #113
Are Firstname, Lastname really "encrypted" by PersonalData attribute?
In my tests custom properties are untouched by ProtectPersonalData of AddIdentityMongoDbProvider.

[2022-07-12 12:24] Daviidbit opened #123 "User collection is stored in "default" db when using replica set"
While using a replica set, users collection is created in "default" db , not the related database.
Even with the connection string set up to use replica sets, users are still stored in wrong database.

[2022-08-10 07:24] abhigantech opened #124 "Cannot connect to MongoDb when using authentication (on a remote server)"
I'm using latest MongoDb server that is installed on a remote windows server (2019), I'm using following settings in MongoDb config file:
# network interfaces
net:
  port: 27017
  bindIp: 0.0.0.0

security:
  authorization: enabled

When I connect to this server using MongoDb Compass it works fine, I can also connect to it using MongoDb C# driver, but for some reason AspNetCore.Identity.Mongo cann

[2022-08-10 07:25] abhigantech commented on #91
Please share the solution.